<section class="mt-5">
    <h1>Конвертер валют</h1>
</section>

<div class="container">
    <div class="row mt-2">

        <%= form_for @conn, Routes.page_path(@conn, :converter_post), [as: :email], fn f -> %>
        <%= text_input f, :whom %>
        <%= submit "Конвертировать" %>
        <% end %>

    </div>
</div>

